In [1]:
#extract only the domain name.
#“From chetanahegde@ieee.org Wed Feb 21 09:14:16 2018 ”



# @
# white space
# b/w @ & white space - required



statement = "From chetanahegde@ieee.org Wed Feb 21 09:14:16 2018 "
find_at = statement.find('@')
#print(find_at)
find_ws = statement.find(' ', find_at)
#print(find_ws)
domain = statement[find_at+1:find_ws]
print(domain)

ieee.org

In [2]:
thislist = ["anshu", "kumar", "pathak"]
mylist = thislist.copy()
print(mylist)

['anshu', 'kumar', 'pathak']

In [7]:
persons = ['anshu', 'kumar', 'pathak']
persons.clear()
print(persons)

[]

In [6]:
persons = ['anshu', 'kumar', 'pathak', 'pathak', 'anshu']
x = persons.count("pathak")
print(x)

2

In [10]:
persons = ['anshu', 'kumar', 'pathak', 'pathak', 'anshu']
persons.insert(2,'hello')
print(persons)

['anshu', 'kumar', 'hello', 'pathak', 'pathak', 'anshu']

In [12]:
l = [1,2,3,4,5,6];
print(sum(l))
print(len(l))
print(max(l))
print(min(l))

21
6
6
1

In [13]:
val = "ANSHU";
stl = list(val)
print(stl)

['A', 'N', 'S', 'H', 'U']

In [15]:
name = "Anshu Pathak"
ls = name.split()
print(ls)
fname = ls[0]
lname = ls[1]
print(fname,lname)

['Anshu', 'Pathak']
Anshu Pathak

In [25]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [28]:
"-".join(['ans','kum','pat','jhj'])

'ans-kum-pat-jhj'

In [ ]:
"-".join(["ans kum pat jhj"])

'ans kum pat jhj'

In [30]:
"-".join(["anskumpatjhj"])

'anskumpatjhj'

In [26]:
a = [1,2,3]
b = [2,3,4]
c = [1,2,3]

print(a is b) #Identical
print(a is c)
print(a == b)
print(a == c) #Equivalence

False
False
False
True

In [27]:
def del_fun(a):
    del a[0]
lis = [1,2,3]
del_fun(lis)
print(lis)

[2, 3]

In [38]:
f = open("example1.txt", "a")
for i in range (5):
    f.write("I am line " + str(i))
f.close()

In [39]:
f = open("example1.txt", "r")
for i in range (5):
    print(f.readline())
    print("\n")

I am line 0I am line 1I am line 2I am line 3I am line 4I am line 0I am line 1I am line 2I am line 3I am line 4

In [45]:
#Dictionary
d = {}
d["empid"] = 1
d["name"] = "Anshu"
d["location"] = "Bangalore"

print(d)

{'empid': 1, 'name': 'Anshu', 'location': 'Bangalore'}

In [51]:
d = {"Empid" : 2, "Name":"AKP", "Location":"BLR"}
print(d)
print('kdjk' in d)
print("AKP" in d.values())

atp = list(d.items())
print(atp)

atp.sort() # sorts on the basis of key
print(atp)

for items in atp:
    print(items[0],items[1])

{'Empid': 2, 'Name': 'AKP', 'Location': 'BLR'}
False
True
[('Empid', 2), ('Name', 'AKP'), ('Location', 'BLR')]
[('Empid', 2), ('Location', 'BLR'), ('Name', 'AKP')]
Empid 2
Location BLR
Name AKP

In [52]:
#sets
s ={}
print(type(s))
s = {'anshu', 'pathak'}
print(type(s))

for i in s:
    print(i)

<class 'dict'>
<class 'set'>
pathak
anshu

In [3]:
class Employee:

    def __init__(self, name, eid, dept, base_sal, hra): #Properties of a class - this in java - self in python
        self.name = name
        self.eid = eid
        self.dept = dept
        self.base_sal = base_sal
        self.hra = hra

    def sal_cal(self):
        total_sal = 0
        total_sal += self.base_sal + self.hra;
        print("My Name is {}, My eid is {}, My dept is {}, My total salry is {}".format(self.name, self.eid, self.dept, total_sal))
        
while 1:
    req = str(input("Enter Y or N: "))
    if(req=="Y"):
        name = str(input("Enter name: "))
        eid = str(input("Enter eid: "))
        dept = str(input("Enter dept: "))
        base_sal = str(input("Enter base_sal: "))
        hra = str(input("Enter hra: "))
        emp=Employee(name, eid, dept, int(base_sal), int(hra))
        emp.sal_cal()
    else:
        break

Enter Y or N:  Y

In [ ]:
hours = int(input("Enter the number of hours worked:"))
hourly_rate = int(input("Enter the hourly rate: "))
if(hours<=40):
    total = hours*hourly_rate
else:
    total=0
    total+=(40*hourly_rate)
    total+=((hours-40)*hourly_rate*1.5)
print(total)

In [ ]:
try:
    hours = int(input("Enter the number of hours worked:"))
    hourly_rate = int(input("Enter the hourly rate: "))
    if(hours<=40):
        total = hours*hourly_rate
    else:
        total=0
        total+=(40*hourly_rate)
        total+=((hours-40)*hourly_rate*1.5)
    print(total)
except:
    print("Enter numeric inputs.")

In [ ]:
num = int(input("Enter number : "))

temp = num
product = 1

while(temp != 0):
    product = product * (temp % 10)
    temp = int(temp / 10)

print("Product of all digits is" + product)